<!DOCTYPE html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--CSS stylesheet-->
        <link rel="stylesheet" href="/css/styles.css">   
         
        <!--icons-->
        <script src="https://kit.fontawesome.com/af12ffe99e.js" crossorigin="anonymous"></script>
        
        
        <!--Siimple CSS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
</head>
    <body>
        <header> 
            <div id="jumbo" class="siimple-jumbotron siimple-jumbotron--fluid siimple--width-25 siimple--mx-auto siimple--rounded" align="center"> 
                <div class="siimple-jumbotron-title siimple--color-success">{ {Greg Rabone} }</div>
                <div class="siimple-jumbotron-subtitle">Web development</div>
            </div>
            <div class="siimple-navbar siimple--width-50 siimple--mx-auto" align="center">
                <div class="siimple-btn-group siimple--float-none">
                    <a id="home" class="siimple-navbar-item siimple-nav-item--selected siimple--color-success" href="/">Bio</a>
                    <a id="blog" class="siimple-navbar-item" href="/blog">Blog</a> 
                    <a id="location" class="siimple-navbar-item" href="/location">Location</a>
                    <a id="contact" class="siimple-navbar-item" href="/contact">Contact</a>
                </div>
            </div> 
        </header>
        {{{body}}} 
        <footer>
            <div class="siimple-footer siimple-footer--small">
                <div class="siimple-grid-row"> 
                    <div class="siimple-grid-col siimple-grid-col--1">
                        <a class="siimple-footer-link siimple--color-success fab fa-linkedin fa-3x" href="https://www.linkedin.com/in/greg-rabone-dev/"></a>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--1">
                        <a class="siimple-footer-link siimple--color-success fab fa-github-square fa-3x" href="https://github.com/gsr-Dev"></a>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col-1">
                         <a class="siimple-footer-link siimple--color-success fab fa-facebook-square fa-3x" href="https://www.facebook.com/greg.rabone"></a>
                    </div> 
                    <div class="siimple-grid-col siimple-grid-col-9">
                        <p class="siimple-p siimple--text-small">Copyright 2019.</p>
                    </div>
                </div>
            </div>
        </footer> 
    </body>
</html>