<script src="/js/browser.js"></script>
<div class="siimple-grid">
    <div class="siimple-grid-row" align="center">
        <div class="siimple-grid-col siimple-grid-col--12">
            <img id="profile-picture" src="/images/42289002_10212441202930622_8435842096111288320_o.jpg">
        </div>
        <div class="siimple-grid-col siimple-grid-col--12">
            <div
                class=" siimple-content siimple--mr-5 siimple--width-25 siimple--text-left siimple--text-justify">
                <p class="siimple-p siimple--text-small">Hello everyone, I'm Greg. <br><br> I am currently doing web
                    development and completing a <a
                        href="https://www.auckland.ac.nz/en/study/study-options/find-a-study-option/postgraduate-certificate-in-information-technology-pgcertinfotech.html"
                        class="siimple-link siimple--color-success">Postgraduate Certificate in Information Technology (PGCertInfoTech)</a> at
                    the University of Auckland.</p>
                <p class="siimple-p siimple--text-small"></p>
            </div>
        </div>
    </div>
</div>