<script src="/js/browser.js"></script> 
<script src="/js/map.js"></script> 
<div class="siimple-grid">
    <div class="siimple-grid-row" align="center">
        <div class="siimple-grid-col siimple-grid-col--12">
            <div id='map' style='width: 400px; height: 300px;'></div>
        </div>
    </div>
</div> 
