<script src="/js/browser.js"></script>  
<div class="siimple-grid">
    <div class="siimple-grid-row" align="center">
        <div class="siimple-grid-col siimple-grid-col--12"> 
            <embed src="/pdf/resume.pdf" type="application/pdf"> 
        </div>
    </div>
</div>  
