html {
    overflow-x: hidden;
}

#jumbo {
    margin-top: 25px; 
    padding-top: 25px; 
    padding-bottom: 25px; 
    padding-left: 25px; 
    padding-right: 25px; 
} 

a { 
    color: inherit
} 


#profile-picture {
    height: 200px;
    width: auto; 
    border-radius: 25px;
}  

embed { 
    width: 50%;
    height: 500px; 
}



